<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7DDE10191E7F753C00EF4834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DDE10321E7F753C00EF4834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7DDE103D1E7F753C00EF4834</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
